name: lint

on:
  # pull_request:
  #   types: [opened, edited, reopened, synchronize]
  #   branches:
  #     - main
  #     - feature/*
  push:
    branches:
      - main
      - feature/*

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ inputs.platform }} @ ${{ github.event.label.name || github.event.pull_request.number || github.sha }} @ ${{ github.event.label.name && github.event.pull_request.number || github.event.action }}
  cancel-in-progress: true

permissions: {}

jobs:
  lint:
    name: Pre-Commit
    runs-on: ubuntu-latest
    steps:
      - run: echo "Mocking pre-commit lint"
  check-bug-id:
    name: Bug ID Check
    runs-on: ubuntu-latest
    steps:
      - run: echo "Mocking bug id check"
