name: Test Filtering Logic

on: [push, pull_request]

jobs:
  test-filter-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Run Test
        run: python3 cobalt/tools/automated_test_filters_test.py
